{% extends "base/base.html" %}

{% block title %}
    Trabajos
{% endblock title %}


{% block header %}

{% include "base/header1.html" %}

{% endblock header %}


{% block content %}
<div class="well well-lg">
  <form class="form-horizontal" method="POST">
    {% csrf_token %}
  <fieldset>
    <legend>Estados</legend>
    <div class="form-group">
      <div class="col-lg-2">
        {{form.nombre}}
      </div>
      <div class="col-lg-2">
        <button type="reset" class="btn btn-default">Cancel</button>
      </div>
      <div class="col-lg-2">
        <input type="submit" class="btn btn-primary" value="Agregar Estado"></input>
      </div>
      
    </div>
  </fieldset>
</form>
</div>
         
   

<div class="well">
     <table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
    </tr>
  </thead>
  <tbody>
    {% if estados %}
      {% for estado in estados %}

        <tr>
          <th>{{estado.id}}</th>
        
          <th>{{estado.nombre}}</th>
        
        </tr>

      {% endfor %}
    {% endif %}
  </tbody>
</table> 
</div>
{% endblock content %}