{% extends "base/base.html" %}

{% block title %}
    Nuevo Trabajo
{% endblock title %}

{% block header %}
{% include 'base/header1.html' %}
{% endblock header %}




{% block content %}


<div class="well well-lg col-xs-12 ">
  <form class="col-sm-6 col-xs-12 col-sm-offset-3" method="POST">
    {% csrf_token %}

  <fieldset>
    <legend>Llamadas</legend>
  </fieldset>

  <div class="form-group col col-sm-6 col-xs-12" >
      
      <div class="input-group col-sm-6 col-xs-12 col-sm-offset-6">
        
        {{ form.as_p }}
    
        
          <button type="submit" class="btn btn-primary col col-sm-5">Registrar</button>
          <a href="{% url 'helpDesk:trabajos' %}" class="btn btn-default col col-sm-6 pull-right"> Cancel</a>
          <!-- <button type="reset" class="btn btn-default col col-sm-6 pull-right">Cancel</button> -->
    
      </div>
    
    </div>
</form>
</div>

{% endblock content %}



{% block footer %}
{% endblock footer %}

{% block extrajs %}

<script type="text/javascript" src="/static/collected/admin/js/vendor/jquery/jquery.js"></script>
    {{ form.media }}
{% endblock extrajs %}