{% extends "base/base.html" %}

{% block title %}
    Nuevo Trabajo
{% endblock title %}

{% block header %}

{% endblock header %}


{% block content %}
<div class="well well-lg">
  <form class="form-horizontal" method="POST">
    {% csrf_token %}
  <fieldset>
    <legend>Llamadas</legend>
    <div class="form-group <col-lg-12></col-lg-12>">
    {{ form.as_p }}
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-6">
        <button type="submit" class="btn btn-primary">Registrar</button>
        <button type="reset" class="btn btn-default">Cancel</button>
      </div>
    </div>
  </fieldset>
</form>
</div>

<script src=""></script>
{% endblock content %}



{% block footer %}
{% endblock footer %}

{% block extrajs %}
    <script type="text/javascript" src="/static/collected/admin/js/vendor/jquery/jquery.js"></script>
    {{ form.media }}
{% endblock extrajs %}