{% extends "base/base.html" %}

{% block title %}
    Trabajos
{% endblock title %}


{% block header %}
{% include "base/header1.html" %}

{% endblock header %}


{% block content %}


    
    <div class="well col col-xs-12">
      
        <a href="{% url 'helpDesk:trabajosCrear'%}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Agregar Trabajo </a>
  
      
    {% if trabajos %}
    
    <table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Fecha</th>
      <th>Fecha-Revisado</th>
      <th>Status</th>
      <th>Cobrado</th>
      <th>Estado Actual</th>
      <th>Observacion</th>
      <!--<th>Monto</th>-->
      <th>Insert</th>
      <th>Finish</th>
    </tr>
  </thead>
  <tbody>
      {% for trabajo in trabajos %}
      <tr>

        <th>
          {{trabajo.id}}
        </th>

        <th>
                {{trabajo.id_cliente.nombre}}
                
                {{trabajo.id_cliente.rif}}
          
        </th>

        <th>
          {{trabajo.fechaHora}}
        </th>
        
        <th>
          {{trabajo.fechaVisita}}
        </th>

        <th>
          {% if not trabajo.status %}
          
          <p class="glyphicon glyphicon-refresh"></p>
          {% else  %}
          <p class="glyphicon glyphicon-ok" ></p>
          {% endif %}
        </th>
        
        <th>
            {% if not trabajo.cobrado %}
                <p>NO</p>
             {% else %}
                {{trabajo.cobrado}}
            {% endif %}

        </th>

        <th>


          {% if trabajo.id_estado %}
            {{trabajo.id_estado}}
          {% endif %}




        </th>



        <th>
          {{trabajo.observacion}}
        </th>

        <!--{#<th>
          {% for i in estados %}
            
            {% if i.id_trabajo.id == trabajo.id %}
              {{i.monto}}
              {{break}}
            {% endif %}
          {% endfor %}
        </th>#}-->

        <th>
          <a href="{% url 'helpDesk:bitacora' trabajo.id %}" class='btn btn-primary'>Cambiar</a>
        </th>

        <th>
          <a href="{% url 'helpDesk:trabajosFinish' trabajo.id %}" class='btn btn-primary'>Finalizar</a>
        </th>

      </tr>
      {% endfor %}

    {% else %}

        <h1> No hay Registro de Trabajos</h1>
        <a href="{% url 'helpDesk:trabajosCrear'%}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Agregar Trabajo </a>

    {% endif %}
  </tbody>
</table> 


    </div>
    

{% endblock content %}